public/projects/**/*.png filter=lfs diff=lfs merge=lfs -text
public/projects/**/*.jpg filter=lfs diff=lfs merge=lfs -text
public/projects/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
public/projects/**/*.webp filter=lfs diff=lfs merge=lfs -text
