/* src/app/globals.css */
@import "tailwindcss";

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/thumbnails.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Variáveis de fonte para as fontes importadas no layout.tsx */
:root {
  --font-playfair-display: 'Playfair Display', serif;
  --font-lato: 'Lato', sans-serif;
}

/* Estilização do corpo do documento e dos títulos. */
body {
  font-family: var(--font-lato);
  background: linear-gradient(-45deg, #f0f0f0, #ffffff, #f0f0f0, #ffffff);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair-display);
}

/* Animação de fundo para o efeito premium. */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Efeito Parallax */
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NOVAS REGRAS PARA O SLIDESHOW */
@keyframes zoom-out-fade {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.animate-zoom-out {
  animation: zoom-out-fade 24s infinite;
}